@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
    background: $main-bg;
   &__content {
    display: flex;
    justify-content: space-between;
    padding: 26px 0 25px;
   }
   &__list {
       display: flex;
       align-items: center;
       padding: 12px 11px;
   }
   &__list-item:not(:nth-of-type(3)) {
       margin-right: 32px;
   }
   &__link {
       color: $violet-text;
       font-size: 16px;
       line-height: 19.5px;
       font-weight: 500;
   }
}

.main {
    background: $main-bg;
}

.about {
    background: #ffffff;
    border-top-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
    }
    &__box-img {
        margin-right: 32px;
        align-self: center;
        position: relative; 
        &::after {
            content: '';
            position: absolute;
            background: url('../images/avatar-after1.png') no-repeat;
            background-size: cover;
            left: -15%;
            bottom: -10%;
            width: 100%;
            height: 100%;
            max-width: 167px;
            max-height: 250px;
        }
    }
    &__img {
        object-fit: cover;
    }
    &__box-text {
        padding: 44px 0;
    }
    &__title {
        font-size: 56px;
        line-height: 72px;
        font-weight: 800;
        margin-bottom: 24px;
        color: $black;
    }
    &__data {
        margin-bottom: 64px;
    }
    &__span-box {
        display: inline-block;
    }
    &__span-box:not(:nth-of-type(3)) {
        margin-right: 32px;
    }
    &__span--violet {
        color: #AA7ECD;
        margin-right: 8px;
        font-size: 16px;
        line-height: 21px;
        font-weight: 700;
    }
    &__span--black {
        color: $black;
        font-size: 16px;
        line-height: 21px;
        font-weight: 500;
    }
    &__text-title {
        font-size: 27px;
        line-height: 36px;
        font-weight: 800;
        color: $black;
        margin-bottom: 24px;
    }
    &__text {
        font-size: 18px;
        line-height: 32px;
        color: #000000;
        max-width: 640px;
    }
    &__text:nth-of-type(1) {
        margin-bottom: 30px;
    }
}

.tell {
    background: $main-bg;
    position: relative;
    z-index: 1;
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/tell-bg.png') no-repeat center 0;
        z-index: -1;
        }

    &__content {
        max-width: 1000px;
    }

    &__title {
        padding: 56px 0 40px;
        font-size: 40px;
        line-height: 72px;
        font-weight: 800;
        color: $black;
    }

    &__box {
        display: flex;
        justify-content: start;
        margin-bottom: 40px;
        opacity: 0;
    }

    &__box:last-of-type  {
        margin-bottom: 112px;
        background: #fff;
        border-radius: 12px;
        position: relative;
        border: 1px dashed #D9BBFF;
        width: 99%;
    }

    &__label--f {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }

    &__span {
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }

    &__file-text {
        color: #9993BD;
       
    }

    &__file-btn {
        color: $violet-text;
        border: 1px solid $violet-text;
        border-radius: 12px;
        padding: 16px 34px;
        margin-left: 16px;
    }

    &__input--file {
        background: #ffffff;
        max-width: 100%;  
        width: 99%;
        border-radius: 12px;
        border: 1px solid #D9BBFF;   
        padding: 24px;   
        opacity: 0;
        transition: all .5s;
        height: 104px;
    }

    &__box-item {
        width: 31%;
        transition: all .5s;
    }

    &__box-item:not(:last-of-type) {
        margin-right: 32px;
    }

    &__label {
        display: inline-block;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 19px;
        font-weight: 600;
    }

    &__input {
        border: 1px solid #D4B1FF;
        border-radius: 12px;
        padding: 16px;
        outline: none;
        max-width: 304px;
        width: 100%;
        display: inline-block;
    }

    &__input::placeholder {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $black;
    }

    &__input[type="date"] {
        padding: 14px;
    }

    &__ok {
        display: flex;
        align-items: flex-start;
    }

    &__img {
        margin-top: 10px;
        margin-right: 8px;
        opacity: 0;
    }

    &__ok-text {
        margin-top: 18px;
        display: block;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        color: $black;
        opacity: 0;
    }


    &__btn {
        background: #DED9E4;;
        color: #ffffff;
        border-radius: 12px;
        padding: 16px;
        border: none;
        outline: none;
        width: 216px;
        margin-bottom: 48px;
        margin-right: 24px;
    }


    }


// form active

.active {
    opacity: 1;
    transition: all .5s;
}

.active-input {
    border: 1px solid $violet-text;
}

.active-btn {
    background: $violet-text;
    cursor: pointer;
}

//active-list 

.active-list {
    height: auto !important;
    transform: translateY(0) !important;
}

.opacity-logo {
    display: none;
}


// slider

.slider {
    padding: 56px 0;
    background: #ffffff;
    overflow: hidden;
    height: 100%;
}


#slider {
    position: relative;
    text-align: center;
    top: 10px;
    margin: 0 auto;
    height: 100%;
    /* max-width: 1312px; */
}



.slider__carousel #item {
    width: 33%;
    float: left;
    margin-left: 0.3%;
    /* margin-right: .5%; */
    height: 100%;
}

 #carousel {
    width: 300%;
    line-height: 0;
    height: 100%;
}

.slider__overflow {
    width: 100%;
    overflow: hidden;
}

.slider__img {
    width: 100%;
    height: 100%;
}

/* #desktop:checked ~ #slider {
    max-width: 960px;
} */


/* left arrow */

#switch1:checked ~ #controls label:nth-child(3),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2) {
    background: url('../images/arrow-left.svg') no-repeat;
    background-size: cover;
    margin: 0 0 0 2.5%;
    height: 35px;
    width: 20px;
    float: left;
    z-index: 10;
}

/* right arrow */

#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(1),
#switch4:checked ~ #controls label:nth-child(5) {
    background: url('../images/arrow-right.svg') no-repeat;
    background-size: cover;
    margin: 0 2% 0 0;
    height: 35px;
    width: 20px;
    float: right;
    z-index: 10;
}

label,a {
    cursor: pointer;
}

.slider__input {
    display: none;
}

#switch1:checked ~ .slider__carousel #carousel {
    margin-left: 0;
}

#switch2:checked ~ .slider__carousel #carousel {
    margin-left: -100%;
}

#switch3:checked ~ .slider__carousel #carousel {
    margin-left: -200%;
}


#controls {
    margin: -22% 0 0 0;
    width: 100%;
    height: 60px;
}


.slider__active-label {
    border-radius: 10px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: transparent;
    border: 2px solid #ffffff;
    margin-right: 12px;
}

#active {
    margin: 14% 0 0;
    text-align: center;
}


#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3) {
    background: #ffffff;
}

#carousel {
    transition: all .8s;
}

.slider__controls-label:hover {
    opacity: 0.6;
}

.slider__controls-label {
    transition: opacity 0.2s;
}



.slider__box {
    position: absolute;
    top: 35%;
    text-align: center;
    color: white;
    z-index: 1;
    width: 50%;
    margin-left: 25%;
}

.slider__title {
    font-size: 56px;
    line-height: 72px;
    font-weight: 800;
    margin-bottom: 16px;
}

.slider__text {
    font-size: 18px;
    line-height: 32px;
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    font-weight: 500;
}






@media (max-width: 1200px) {
    .slider {
        padding: 0;
    }
}


@media (max-width: 1070px) {
    .about {
        &__title {
            font-size: 50px;
            line-height: 56px;
        }

        &__data {
            margin-bottom: 45px;
        }

        &__span {
            font-size: 14px;
            line-height: 20px;
        }

        &__box-text {
            padding: 0;
        }

        &__text-title {
            font-size: 25px;
            line-height: 32px;
        }

        &__text {
            font-size: 16px;
            line-height: 28px;
        }
    }

    .slider {
        &__title {
            font-size: 48px;
            line-height: 54px;
        }

        &__text {
            font-size: 16px;
            line-height: 24px;
        }

        #active {
            margin: 12% 0 0;
        }
    }

}


@media (max-width: 970px) {
    
    .about {
        &__box-img {
            &::after {
                background:transparent;
            }
        }

        &__content {
            padding: 50px 0;
        }

        &__data {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
        }
        &__span-box {
            display: flex;
            flex-direction: column;
        }

        &__span {
            margin: 0;
        }
    }
}


@media (max-width: 850px) {
    .about {
        &__content {
            flex-direction: column;
            text-align: center;
        }

        &__box-img {
            margin: 0;
            max-width: 45%;
        }

        &__text {
            margin: 0 auto;
        }

        &__content &__data &__span-box {
            margin-right: 39px;

        }
    }

    .tell {
        text-align: center;

        &__box {
            width: 100%;
            margin: 0;
        }

        &__title {
            font-size: 38px;
            line-height: 50px;
            padding: 40px 0;
        }

        &__box {
            flex-direction: column;
            margin-bottom: 0;
        }

        &__content &__box &__box-item {
            margin: 0 auto 40px;
            width: 348px;
        }

        &__ok {
            justify-content: center;
        }
    }

    .slider {

        height: 650px;

        &__carousel #item {
            height: 535px;
        }


        &__title {
            font-size: 40px;
            line-height: 48px;
        }

        &__text {
            font-size: 15px;
            line-height: 24px;
            max-width: 245px;  
        }

        #controls {
            margin: -31% 0 0;
        }

        #active {
            margin: 18% 0 0;
        }
    }
}


@media (max-width: 700px) {
    .slider {

        #active {
            margin: 14% 0 0;
        }

        &__box {
            width: 100%;
            top: 24%;
            margin: 0 auto;
        }

        &__title {
            max-width: 225px;
            margin: 16px auto;
        }
    }
}


@media (max-width: 600px) {
    .header {

        &__content {
            display: block;
        }
        &__logo {
            cursor: pointer;
            z-index: 1;
            margin: 0 auto;
            transform: translateY(0);
        }
        &__list {
            justify-content: space-between;
        }

        &__nav {
        transform: translateY(-50000%);
        height: 1px;
        transition: all 1s;
        z-index: 10;
        }
    }

    .about {
        &__content {
        text-align: left;
        }
        &__box-img {
            max-width: 348px;
            padding-bottom: 24px;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                background: url('../images/avatar-after2.png') no-repeat;
                background-size: contain;
                bottom: -1%;
                right: -1%;
                height: 116px;
                width: 80px;
            }
        }
        &__title {
            font-size: 40px;
            line-height: 48px;
        }

        &__data {
            margin-bottom: 32px;
            justify-content: start;
        }


        &__span {
            font-size: 14px;
            line-height: 18px;
            display: block;
        }

        &__text-title {
            font-size: 20px;
            line-height: 24px;
        }

        &__text {
            font-size: 15px;
            line-height: 24px;
        }

        &__text:nth-of-type(1) {
            margin-bottom: 10px;
        }
    }

    .tell {
        text-align: left;

        &__title {
        font-size: 32px;
        line-height: 41px;
        text-align: center;
        }

        &__box--f {
            height: 175px;
        }

        &__input {
            max-width: 325px;
        }

        &__label--f {
            top: 48%;
        }

        &__file-text {
            margin-bottom: 16px;
            width: 235px;
        }
    }

}

@media (max-width: 520px) {
    .about {
        border-radius: 0;
    }
    .slider {
        #active {
            margin: 4% 0 0;
        }
    }

    .tell {
        &__title {
            position: relative;
            max-width: 350px;
            text-align: left;
            margin: 0 auto;
                &::after {
                    position: absolute;
                    content: '';
                    width: 99px;
                    height: 117px;
                    right: -1%;
                    bottom: 10%;
                    background: url('../images/tell-after.png') no-repeat;
                    background-size: cover;
                }
            }

            &__ok {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            &__btn {
                max-width: 348px;
                width: 100%;
                margin-bottom: 10px;
                margin-right: 0;
            }
        
    }
}